.card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw; /* Adjust to match the container width */
    max-width: 350px;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card > h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.tinderCards__cardContainer {
    position: relative;
    width: 100%; /* Ensure the container spans the entire width */
    height: 400px; /* Set a fixed height for the container */
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    overflow: hidden; /* Hide overflow to prevent scrollbar */
}
