.user-profile {
    /* border: 2px solid #6a0dad; */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #000; /* black color */
  }
  
  .user-profile div {
    margin-bottom: 12px;
    color: #000; /* black color */
  }
  
  .settings-button {
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .settings-button:hover {
    background-color: #540c84;
  }
  